<header class="site-header">

  <div id="header">
    <nav>
      <ul>
        <body class = "headbody">
          <header class="site-header">
            <nav>
              <ul>
                <li><a id = "headbody" href="{{site.baseurl}}/">Home</a></li>
                <li><a id = "headbody" href="{{site.baseurl}}/compsci">CompSci</a></li>
                <li><a id = "headbody" href="{{site.baseurl}}/blogs">Blogs</a></li>
                <li><a id = "headbody" href="{{site.baseurl}}/help">Help</a></li>
                <li><a id = "headbody" href="{{ site.github.repository_url }}#readme">View On GitHub</a></li>
              </ul>
            </nav>
          </header>
          </body>
          </html>
      </ul>
    </nav>
  </div><!-- end header -->
</header>