<table>
    <tr>
        <td><a href="{{site.baseurl}}/2023/11/15/binary_overview_IPYNB_2_.html">Overview</a></td>
        <td><a href="{{site.baseurl}}/2023/11/15/binary_puzzle_IPYNB_2_.html">Binary Puzzle Gam(e)</a></td>
        <td><a href="{{site.baseurl}}/2023/11/15/binary_car-race_IPYNB_2_.html">Binary Racing Gam(e)</a></td>
        <td><a href="{{site.baseurl}}/2023/11/15/binary_mini_game.html">Binary Mini Gam(e)</a></td>
        <td><a href="{{site.baseurl}}/2023/11/15/binary-test-race.html">Racing Gam(e) DEMO</a></td>
    </tr>
</table>