<table>
    <tr>
        <td><a href="{{site.baseurl}}/2023/11/15/binary_overview_IPYNB_2_.html">Overview</a></td>
        <td><a href="{{site.baseurl}}/2023/11/15/binary_puzzle_IPYNB_2_.html">Puzzle</a></td>
        <td><a href="{{site.baseurl}}/2023/11/15/binary_car-race_IPYNB_2_.html">Racing</a></td>
        <td><a href="{{site.baseurl}}/2023/11/15/binary-mini-game_IPYNB_2_.html">Word</a></td>
        <td><a href="{{site.baseurl}}/2023/11/15/binary_guesser_IPYNB_2_.html">Guesser</a></td> 
        <td><a href="{{site.baseurl}}//2023/12/01/Game-hub.html">GAME HUB</a></td>
    </tr>
</table>