<table>
    <tr>
        <td><a href="{{site.baseurl}}/2023/11/15/binary_overview_IPYNB_2_.html">Overview</a></td>
        <td><a href="{{site.baseurl}}/2023/11/15/binary_puzzle_IPYNB_2_.html">Puzzle</a></td>
        <td><a href="{{site.baseurl}}/2023/11/15/binary_car-race_IPYNB_2_.html">Racing</a></td>
        <td><a href="{{site.baseurl}}/2023/11/15/binary-test-race.html">Racing DEMO</a></td>
        <td><a href="{{site.baseurl}}/2023/11/15/binary-mini-game_IPYNB_2_.html">RPG</a></td>
        <!--<td><a href="{{site.baseurl}}/2023/11/15/binary_guesser_IPYNB_2_.html">Guesser</a></td>-->
    </tr>
</table>