:root {
    --primary-color: #FF6F61; // Coral
    --secondary-color: #68C3A3; // Mint
    --background-color: #FDFDFD; // Off-white
}

$high-emph: rgba(0, 0, 0, 0.87);
$med-emph: rgba(0, 0, 0, 0.69);
$low-emph: rgba(0, 0, 0, 0.5);
$light-grey: #F5F5F5;

html, body, input, textarea, select, button {
    color: $high-emph;
    background-color: $light-grey;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: lighten($light-grey, 5%);
    }
}

a {
    color: var(--primary-color);
    transition: color 0.3s ease;

    &:hover {
        color: darken(var(--primary-color), 10%);
    }
}

.site-title, .site-title:visited, .site-nav, .page-link {
    color: var(--primary-color);
}

.site-nav {
    background-color: lighten($light-grey, 8%);
    border-color: lighten($light-grey, 15%);
}

* {
    scrollbar-color: $light-grey lighten($light-grey, 15%);
}

pre, code {
    border-color: lighten($light-grey, 15%);
    background-color: lighten($light-grey, 12%);
}

.page-description {
    color: $med-emph;
}

.post-meta {
    color: $low-emph;
}

.post-content p, .post-content li {
    color: $med-emph;
}

.btn {
    background-color: var(--primary-color);
    color: $light-grey;
    border-color: var(--secondary-color);

    &:hover {
        background-color: var(--secondary-color);
        color: $light-grey;
    }
}

table th {
    background-color: lighten($light-grey, 12%);
    border-color: lighten($light-grey, 15%);
    color: var(--secondary-color);
}

table td {
    background-color: $light-grey;
    border-color: lighten($light-grey, 15%);
    color: $med-emph;
}

.flash {
    color: $light-grey;
    filter: brightness(80%);
}

canvas {
    filter: invert(20%);
}

.post-list > li > div {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: lighten($light-grey, 8%);
    border: 1px solid lighten($light-grey, 15%);
}

li .post-meta-description {
    color: $med-emph;
}

.search-result-preview {
    color: $med-emph;
}

.search-result-highlight {
    color: var(--primary-color);
    font-weight: bold;
}

.search-results-list-item .search-result-title {
    color: var(--secondary-color);
}
