---
---

@import "{{ site.theme }}";
// STYLING PREFERNCES for SITE
// mixin used as a template for buttons
  @mixin button {
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: #792626;
    border: 3px solid black;
    font-size: 1.5em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: span 1;
    grid-row: span 1;

    // Creates smooth animation effect
    transition: all 0.5s; 
  }
  a, a:visited {
    color: white
  }
  .headbody {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  header.site-header {
    background-color: rgb(33, 87, 49);
    color: #fff;
    text-align: center;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  nav li {
    margin: 0 7px;
  }

  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
  /* define class for redifined button */
  .th {
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: rgb(33, 87, 49);
  }
  td {
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: rgb(33, 87, 49);
  }
  input {
    font-size: larger;
    color: white;
    background-color: rgb(46, 116, 67);
  }
  div {
    color: white;
    font-size: large
  }
  img {
    width: 70px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  .button {
    @include button;
  }
  body {
    background-color: rgb(46, 116, 67);
  }
   /* darkens the background color on hover to create a selecting effect */
  .button:hover {
    background-color: #793c3c;
  }

  /* "row style" is flexible size and aligns pictures in center */
  .row {
    align-items: center;
    display: flex;
  }

  /* "column style" is one-third of the width with padding */
  .column {
    flex: 16.66%;
    padding: 3px;
  }
  
// STYLING FOR CALCULATOR
  /* class to create the calculator's container; uses CSS grid dsiplay to partition off buttons */
  .calculator-container { 
    width: 90vw; /* this width and height is specified for mobile devices by default */
    height: 80vh;
    margin: 0 auto;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* fr is a special unit; learn more here: https://css-tricks.com/introduction-fr-css-unit/  */
    grid-template-rows: 0.5fr repeat(4, 1fr);
    gap: 10px 10px;
  }
  
  @media (min-width: 600px) { 
    .calculator-container {
        width: 40vw;
        height: 80vh;
    }
  }

  /* styling for the calculator number button */
  .calculator-number {
    @extend .button;
  }

  /* styling for the calculator operation button */
  .calculator-operation {
    @extend .button;
  }
  
  /* styling for the calculator clear button */
  .calculator-clear {
    @extend .button;
    background-color: #e68b1c;
  }
  
  /* styling for the calculator equals button */
  .calculator-equals {
    @extend .button;
    background-color: #e70f0f;
  }

  .game-link {
    display: block;
    margin: 10px auto;
    padding: 1em 2em;
    text-decoration: none;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
}

.game-link:hover {
    background-color: #45a049;
}