---
---
/* Base Styles */
@import "{{ site.theme }}";

body {
    background-color: rgb(46, 116, 67);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

a, a:visited {
    color: white;
}

/* Header Styles */
header.site-header {
    background-color: rgb(33, 87, 49);
    color: #fff;
    text-align: center;
    padding: 15px; /* Add padding for better visual appearance */
}

nav {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.headbody {
  margin: 0;
  font-family: Arial, sans-serif;
}

header.site-header {
  background-color: rgb(33, 87, 49);
  color: #fff;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 2px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 2px;
}
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin: 0 8px; /* Increase margin for better spacing */
}

/* Button Styles */
@mixin button {
    width: auto;
    height: auto;
    border-radius: 10px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.button {
    @include button;
    background-color: #792626;
    border: 3px solid black;
    color: white;
}

.button:hover {
    background-color: #793c3c;
}

/* Redefined Button Styles */
.th, td {
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: rgb(33, 87, 49);
}

/* Input Styles */
input {
    font-size: larger;
    color: white;
    background-color: rgb(46, 116, 67);
}

/* Image Styles */
img {
    width: 800px;
    height: auto;
}

@media (min-width: 600px) {
    .calculator-container {
        width: 40vw;
        height: 80vh;
    }
}

/* Game Link Styles */
.game-link {
    display: block;
    margin: 10px auto;
    padding: 1em 2em;
    text-decoration: none;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
}

.game-link:hover {
    background-color: #45a049;
}
